* {
    margin: 0;
    padding: 0;
}

html {
    background: #0f0827;
    color: #fdafdd;
    font-family: 'Courier New', Courier, monospace;
}

body main {
    display: flex;
    flex-wrap: wrap;
}

body main h1 {
    box-sizing: border-box;
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

body main .grid {
    align-items: center; /* alineacion */
    border: 2px solid #fadfaf;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    justify-items: center; /* alineacion */
    margin: 2rem auto;
    width: 90%;
    max-width: 1000px;
}

body main .grid div {
    align-items: center;
    background: #0faaff;
    color: #121212;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding: 1rem 1rem;
}

body main .grid .div5 {
    align-self: stretch; /* alineacion */
    background: #fa0f;
    justify-self: stretch; /* alineacion */
}